@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap');
@import 'tailwindcss';
@import 'animations.css';

@theme {
  --font-display: "General Sans", sans-serif;
  --font-sans: "General Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #080808;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  color: #c8c8c8;
  background-color: #080808;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}